//Animation
// First Frame
img {
    transform: scale(1) rotate(0);
    transition: transform .5s;
}

//clouds
// First Frame
#cloud,
#cloud2{
	position: absolute;
	bottom: 0;
	width: 100%;
	transition: all 1s ease;
}
#cloud {
	left: 0;
}
#cloud2 {
	right: -2px;
}
//clouds
// last Frame
//#stage:click .cloud {
//	bottom: 0;
//	width: 50%;
//	
//}




img:hover {
    transform: scale(.75) rotate(5deg);
}





.cloud {
  animation: cloud ease-in-out 10s infinite;
}
.cloud2 {
  animation: cloud2 ease-in-out 10s .5s infinite;
}

//keyframes
@keyframes cloud {
  0% { 
	  transform: scale(1) translate(0,0);
  }
  50% {
      transform: scale(1.5) translate(0,25%);
  }
	100% {
      transform: scale(1) translate(0,0);
  }
}
@keyframes cloud2 {
  0% { 
	  transform: scale(1) translate(0,0);
  }
  50% {
      transform: scale(1.5) translate(25%,25%);
  }
	100% {
      transform: scale(1) translate(0,0);
  }
}
//Hand First Frame



// GOOGLE First frame
#hand,#hand2,#hand3,#g,#o,#o2,#g2,#l,#e {
	position: absolute;
	bottom: 0;
	width: 60px;
	transform: translate(0,0);
	transition: .75s ease;
	transform-origin: top;
}
#g {
	//top:40%;
	//bottom: -110px;
	bottom: 120px;
	left: 22%;
}
#hand {
	//bottom: -450px;
	bottom: -220px;
	left: 22%;
	width: 50px;
}
#o {
	//top:47%;
	//bottom: -80px;
	bottom: 150px;
	left: 32%;
}
#hand2 {
	//bottom: -375px;
	bottom: -145px;
	left: 32%;
	width: 50px;
}
#o2 {
	//top:45%;
	bottom: -80px;
	bottom: 150px;
	left: 42%;
}
#hand3 {
	//top:45%;
	//bottom: -80px;
	bottom: -150px;
	left: 43.5%;
	width: 40px;
}
#g2 {
	//top:40%;
	//bottom: -110px;
	bottom: 120px;
	left: 52%;
}
#l {
	//top:35%;
	width: 40px;
	//bottom: -80px;
	bottom: 150px;
	left: 62%;
}
#e {
	//top:44%;
	bottom: -80px;
	bottom: 150px;
	left:69%;
}

// GOOGLE + Hands Last frame


#g {
  animation: google 10s 0s infinite;
}
#hand {
  animation: hands 10s 0s infinite;
}
#o {
  animation: google 10s 0.25s infinite;
}
#hand2 {
  animation: hands 10s 0.25s infinite;
}
#o2 {
  animation: google 10s 0.5s infinite;
}
#hand3 {
  animation: hands 10s 0.5s infinite;
}
#g2 {
  animation: google 10s 0.75s infinite;
}
#l {
  animation: google 10s 1s infinite;
}
#e {
  animation: google 10s 1.25s infinite;
}

//keyframes
@keyframes google {
  0% { 
	  transform: translate(0,0); 
  }
	70% { 
	  transform: translate(0,0); 
  }
	 75% {
      transform: translate(0,230px);
  }
  92% {
      transform: translate(0,230px);
  }
	100% {
      transform: translate(0,0);
  }
}
@keyframes hands {
  0% { 
	  transform: translate(0,0);
  }
	10% { 
	  transform: translate(0,230px); 
  }
	 75% {
      transform: translate(0,230px);
  }
  92% {
      transform: translate(0,230px);
  }
	100% {
      transform: translate(0,0);
  }
}


//#g,#o,#o2,#g2,#l,#e {
//}
//#g:hover {
//	transform: scale(.5);
//}