//Animation
// First Frame
//img {
//    transform: scale(1) rotate(0);
//    transition: transform .5s;
//}

//clouds
// First Frame
#cloud,
#cloud2{
	position: absolute;
	bottom: 0;
	width: 100%;
	transition: all 1s ease;
}
#cloud {
	left: 0;
}
#cloud2 {
	right: -2px;
}

// WAAAAAVES
#wave {
	position: absolute;
	bottom: -67px;
	left: 0;
	width: 120%;
}
#wave2 {
	position: absolute;
	bottom: -100px;
	left: 0;
	width: 140%;
}
#wave3 {
	position: absolute;
	bottom: -140px;
	left: 0;
	width: 160%;
}
#wave4 {
	position: absolute;
	bottom: -180px;
	left: 0;
	width: 180%;
}
//Animation
#wave {
  animation: waves 4s 0s infinite;
}
#wave2 {
  animation: waves 3s 0s infinite;
}
#wave3 {
  animation: waves 2s 0s infinite;
}
#wave4 {
  animation: waves 1s 0s infinite;
}


//keyframes
@keyframes waves {
  0% { 
	  transform: translate(0,0); 
  }
	50% { 
	  transform: translate(-50px,0); 
  }
	100% {
      transform: translate(0,0);
  }
}










// GOOGLE First frame
#hand,#hand2,#hand3,#hand4,#hand5,#hand6,#g,#o,#o2,#g2,#l,#e {
	position: absolute;
	bottom: 0;
	width: 60px;
	transform: translate(0,0);
	transition: .75s ease;
	transform-origin: top;
}
#g {
	//top:40%;
	//bottom: -110px;
	bottom: 120px;
	left: 22%;
}
#hand {
	//bottom: -450px;
	//bottom: -145px;
	bottom: -375px;
	left: 22%;
	width: 40px;
}
#o {
	//top:47%;
	//bottom: -80px;
	bottom: 150px;
	left: 32%;
}
#hand2 {
	//bottom: -375px;
	//bottom: -135px;
	bottom: -365px;
	left: 32%;
	width: 50px;
}
#o2 {
	//top:45%;
	//bottom: -80px;
	bottom: 150px;
	left: 42%;
}
#hand3 {
	//top:45%;
	//bottom: -80px;
	//bottom: -150px;
	bottom: -380px;
	left: 43.5%;
	width: 40px;
}
#g2 {
	//top:40%;
	//bottom: -110px;
	bottom: 120px;
	left: 52%;
}
#hand4 {
	//top:40%;
	//bottom: -110px;
	//bottom: -145px;
	bottom: -375px;
	left: 54%;
	width: 40px;
}
#l {
	//top:35%;
	width: 40px;
	//bottom: -80px;
	bottom: 150px;
	left: 62%;
}
#hand5 {
	//top:35%;
	width: 40px;
	//bottom: -80px;
	//bottom: -150px;
	bottom: -380px;
	left: 62%;
}
#e {
	//top:44%;
	//bottom: -80px;
	bottom: 150px;
	left:69%;
}
#hand6 {
	//top:44%;
	//bottom: -80px;
	//bottom: -115px;
	bottom: -350px;
	left:70%;
	width: 40px;
}

// GOOGLE + Hands Last frame


.g {
  animation: google 10s 0s infinite;
}
.hand {
  animation: hands 10s 0s infinite;
}
.o {
  animation: google 10s 0.1s infinite;
}
.hand2 {
  animation: hands 10s 0.1s infinite;
}
.o2 {
  animation: google 10s 0.2s infinite;
}
.hand3 {
  animation: hands 10s 0.2s infinite;
}
.g2 {
  animation: google 10s 0.3s infinite;
}
.hand4 {
  animation: hands 10s 0.3s infinite;
}
.l {
  animation: google 10s 0.4s infinite;
}
.hand5 {
  animation: hands 10s 0.4s infinite;
}
.e {
  animation: google 10s 0.5s infinite;
}
.hand6 {
  animation: hands 10s 0.5s infinite;
}

//keyframes
@keyframes google {
  0% { 
	  transform: translate(0,0); 
  }
	40% { 
	  transform: translate(0,0); 
  }
	
	// FALLING
	 45% {
      transform: translate(0,230px);
  }
  72% {
      transform: translate(0,230px);
  }
	// BACK UP
	80% {
      transform: translate(0,0);
  }
	100% {
      transform: translate(0,0);
  }
}
@keyframes hands {
  0% { 
	  transform: translate(0,0);	 
  }
	 7% {
      transform: translate(0,0);
  }
  72% {
      transform: translate(0,0);
  }
	80% {
      transform: translate(0,-230px);
  }
	85% { 
	  transform: translate(0,-230px); 	
  }
	100% {
      transform: translate(0,0);
  }
}

