//Random background colors
$bg0: #2a2f36;
$bg1: #31797d;
$bg2: #96656c;
$bg3: navy;
$bg4: #d06b2e;
$bg5: #1ebbe2;

.bg0 {
  background: $bg0;
}
.bg1 {
  background: $bg1;
}
.bg2 {
  background: $bg2;
}
.bg3 {
  background: $bg3;
}
.bg4 {
  background: $bg4;
}
.bg5 {
  background: $bg5;
}

.overlay {
	position:absolute;
	top:-4em;
	left:0;
	width:100%;
	height:100%;
	background: url(../img/dust2.png)
}