.overlay{
  position:fixed;
	
   background:url(../img/dust2.png);
	//background-size: 150%;
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:-3em;
  left:0;
  width:100%;
 height:100%;
}


@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

//overlay2
.overlay2{
  position:fixed;
  background:url(../img/dust5.png);
	//background-size: 100%;
  -webkit-animation:150s scroll infinite linear;
  -moz-animation:150s scroll infinite linear;
  -o-animation:150s scroll infinite linear;
  -ms-animation:150s scroll infinite linear;
  animation:150s scroll infinite linear;
  top:-3em;
  left:0;
  width:100%;
 height:100%;
}


@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}
