// Grand central station

@import 'google-homepage';
@import 'scrollingBackground';

//Animation
// First Frame
img {
    opacity: .5;
    transform: scale(.25) rotate(0);
    width: 50%;
    transition: transform .5s;
}

// Last Frame
img:hover {
    opacity: 1;
    transform: scale(1.5) rotate(180deg);
}

.line {fill:none;
    stroke:#000000;
    stroke-width:3;
    stroke-miterlimit:10;
    transition: stroke 1s;
}

.line:hover {
    stroke: red;
}

body {
	background: goldenrod;
	background-image: url(../img/dust3.png);
	background-size: 50%;
	
}
