// Grand central station

@import 'google-homepage';
@import 'scrollingBackground';

//Animation
// First Frame
img {
	margin: 0 auto;
    //opacity: .5;
    transform: scale(1) rotate(0);
    width: 100%;
    transition: transform .5s;
}

// Last Frame
img:hover {
    opacity: 1;
    transform: scale(1.5) rotate(5deg);
}

.line {fill:none;
    stroke:#000000;
    stroke-width:3;
    stroke-miterlimit:10;
    transition: stroke 1s;
}

.line:hover {
    stroke: red;
}

//body {
//	background: #2a2f36;
//	//background-image: url(../img/dust3.png);
//	//background-size: 50%;
//	
//}

$bg0: #2a2f36;
$bg1: #31797d;
$bg2: #8c7b8f;
$bg3: navy;
$bg4: tomato;



.bg0 {
  background: $bg0;
}
.bg1 {
  background: $bg1;
}
.bg2 {
  background: $bg2;
}
.bg3 {
  background: $bg3;
}
.bg4 {
  background: $bg4;
}